.DS_Store
.idea
*.vcd
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
gds_render_preview.*
gds_render.*
venv
/.devcontainer
.devcontainer/copy_tt_support_tools.sh
/pdk
/tt
/.devcontainer
